<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en" style="background:#f3f3f3!important">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width">
    <title>AppleTown</title>
    <style>
        @media only screen {
            html {
                min-height: 100%;
                background: #f3f3f3
            }
        }
        @media only screen and (max-width: 580px) {
            .small-float-center {
                margin: 0 auto!important;
                float: none!important;
                text-align: center!important
            }
        }
        @media only screen and (max-width: 580px) {
            table.body img {
                width: auto;
                height: auto
            }
            table.body center {
                min-width: 0!important
            }
            table.body .container {
                width: 95%!important
            }
            table.body .columns {
                height: auto!important;
                -moz-box-sizing: border-box;
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
                padding-left: 0!important;
                padding-right: 0!important
            }
            table.body .columns .columns {
                padding-left: 0!important;
                padding-right: 0!important
            }
            table.body .collapse .columns {
                padding-left: 0!important;
                padding-right: 0!important
            }
            th.small-6 {
                display: inline-block!important;
                width: 50%!important
            }
            th.small-12 {
                display: inline-block!important;
                width: 100%!important
            }
            .columns th.small-12 {
                display: block!important;
                width: 100%!important
            }
            table.menu {
                width: 100%!important
            }
            table.menu td,
            table.menu th {
                width: auto!important;
                display: inline-block!important
            }
            table.menu.vertical td,
            table.menu.vertical th {
                display: block!important
            }
            table.menu[align=center] {
                width: auto!important
            }
        }
        @media only screen and (min-width: 596px) {
            .lead {
                font-size: 16px
            }
        }
        @media only screen and (min-width: 596px) {
            .main__container {
                padding: 30px 20px 40px
            }
        }
        @media only screen and (min-width: 596px) {
            .footer p {
                padding: 10px 0
            }
        }
    </style>
</head>

<body style="-moz-box-sizing:border-box;-ms-text-size-adjust:100%;-webkit-box-sizing:border-box;-webkit-text-size-adjust:100%;Margin:0;background:#f3f3f3!important;box-sizing:border-box;color:#4A4A4A;font-family:Verdana,Arial,Helvetica,sans-serif;font-size:16px;font-weight:400;line-height:1.3;margin:0;min-width:100%;padding:0;text-align:left;width:100%!important"><span class="preheader" style="color:#f3f3f3;display:none!important;font-size:1px;line-height:1px;max-height:0;max-width:0;mso-hide:all!important;opacity:0;overflow:hidden;visibility:hidden"></span>
<table class="body" style="Margin:0;background:#f3f3f3!important;border-collapse:collapse;border-spacing:0;color:#4A4A4A;font-family:Verdana,Arial,Helvetica,sans-serif;font-size:16px;font-weight:400;height:100%;line-height:1.3;margin:0;padding:0;text-align:left;vertical-align:top;width:100%">
    <tr style="padding:0;text-align:left;vertical-align:top">
        <td class="center" align="center" valign="top" style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:#4A4A4A;font-family:Verdana,Arial,Helvetica,sans-serif;font-size:16px;font-weight:400;hyphens:auto;line-height:1.3;margin:0;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">
            <center data-parsed="" style="min-width:580px;width:100%">
                <table align="center" class="container float-center" style="Margin:0 auto;background:#fefefe;border-collapse:collapse;border-spacing:0;color:#4A4A4A;float:none;margin:0 auto;padding:0;text-align:center;vertical-align:top;width:580px">
                    <tbody>
                    <tr style="padding:0;text-align:left;vertical-align:top">
                        <td style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:#4A4A4A;font-family:Verdana,Arial,Helvetica,sans-serif;font-size:16px;font-weight:400;hyphens:auto;line-height:1.3;margin:0;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">
                            <table class="row" style="border-collapse:collapse;border-spacing:0;color:#4A4A4A;display:table;padding:0;position:relative;text-align:left;vertical-align:top;width:100%">
                                <tbody>
                                <tr style="padding:0;text-align:left;vertical-align:top">
                                    <th class="small-12 large-12 columns first last" style="Margin:0 auto;color:#4A4A4A;font-family:Verdana,Arial,Helvetica,sans-serif;font-size:16px;font-weight:400;line-height:1.3;margin:0 auto;padding:0;padding-bottom:0;padding-left:0;padding-right:0;text-align:left;width:580px">
                                        <table style="border-collapse:collapse;border-spacing:0;color:#4A4A4A;padding:0;text-align:left;vertical-align:top;width:100%">
                                            <tr style="padding:0;text-align:left;vertical-align:top">
                                                <th style="Margin:0;color:#4A4A4A;font-family:Verdana,Arial,Helvetica,sans-serif;font-size:16px;font-weight:400;line-height:1.3;margin:0;padding:0;text-align:left">
                                                    <div class="header__logo" style="background-color:#4A4A4A;padding:10px"><img src="http://1appletown.kz/theme/appletown/dist/img/email/apt-logo.png" alt="" style="-ms-interpolation-mode:bicubic;clear:both;display:block;margin:0 auto;max-width:100%;outline:0;text-decoration:none;width:91px">
                                                    </div>
                                                    <div class="greating" style="border-bottom:1px solid #EFEFEF;padding:20px 10px">
                                                        <h1 class="greating__main" style="Margin:0;Margin-bottom:10px;color:#FFD980;font-family:Verdana,Arial,Helvetica,sans-serif;font-size:20px;font-weight:600;line-height:1.3;margin:0;margin-bottom:5px;padding:0;text-align:center;word-wrap:normal">Здравствуйте, {{ name }}!</h1>
                                                        <div class="lead" style="font-size:14px;text-align:center">Спасибо, что интересуетесь нашим проектом!</div>
                                                    </div>
                                                    <div class="main__container" style="padding:30px 10px 40px">
                                                        <div class="main__container-block" style="margin-bottom:30px">
                                                            <p style="Margin:0;Margin-bottom:10px;color:#4A4A4A;font-family:Verdana,Arial,Helvetica,sans-serif;font-size:14px;font-weight:400;line-height:1.5;margin:0;margin-bottom:10px;padding:0;text-align:left">Во вложенном файле мы отправили Вам все имеющиеся в продаже планировки квартир:</p><a href="http://1appletown.kz/files/AppleTownPlans.pdf" target="_blank" class="button" style="Margin:0;background:#FFD980;border-radius:4px;box-shadow:0 2px 10px 0 rgba(0,0,0,.2);color:#2199e8;cursor:pointer;display:block;font-family:Verdana,Arial,Helvetica,sans-serif;font-size:12px;font-weight:400;letter-spacing:1px;line-height:1.3;margin:0 auto;max-width:200px;padding:7px 0;text-align:center;text-decoration:none"><span class="btn__ico" style="font-weight:600"><img src="http://1appletown.kz/theme/appletown/dist/img/email/pdf.png" alt="" style="-ms-interpolation-mode:bicubic;border:none;clear:both;display:block;margin:0 auto;margin-bottom:5px;max-width:100%;outline:0;text-decoration:none;width:22px"></span><span class="btn__info" style="color:#4A4A4A;font-weight:600">Открыть</span></a>
                                                        </div>
                                                        <div class="main__container-block" style="margin-bottom:50px">
                                                            <p style="Margin:0;Margin-bottom:10px;color:#4A4A4A;font-family:Verdana,Arial,Helvetica,sans-serif;font-size:14px;font-weight:400;line-height:1.5;margin:0;margin-bottom:10px;padding:0;text-align:left">Более полную информация о нашем ЖК Apple Town можно увидеть в небольшом видеофильме:</p><a href="https://www.youtube.com/watch?v=in3WT_OftbU&feature=youtu.be" target="_blank" class="button" style="Margin:0;background:#FFD980;border-radius:4px;box-shadow:0 2px 10px 0 rgba(0,0,0,.2);color:#2199e8;cursor:pointer;display:block;font-family:Verdana,Arial,Helvetica,sans-serif;font-size:12px;font-weight:400;letter-spacing:1px;line-height:1.3;margin:0 auto;max-width:200px;padding:7px 0;text-align:center;text-decoration:none"><span class="btn__ico" style="font-weight:600"><img src="http://1appletown.kz/theme/appletown/dist/img/email/watch.png" alt="" style="-ms-interpolation-mode:bicubic;border:none;clear:both;display:block;margin:0 auto;margin-bottom:5px;max-width:100%;outline:0;text-decoration:none;width:22px"></span><span class="btn__info" style="color:#4A4A4A;font-weight:600">Смотреть</span></a>
                                                        </div>
                                                        <div class="main__container-block" style="margin-bottom:30px">
                                                            <p style="Margin:0;Margin-bottom:10px;color:#4A4A4A;font-family:Verdana,Arial,Helvetica,sans-serif;font-size:14px;font-weight:400;line-height:1.5;margin:0;margin-bottom:10px;padding:0;text-align:left">По всем возникшим вопросам обращайтесь по номеру телефона:
                                                                <br><span style="font-weight:600"><a class="phone-style" style="Margin:0;color:#fff!important;font-family:Verdana,Arial,Helvetica,sans-serif;font-weight:400;line-height:1.3;margin:0;padding:0;text-align:left;text-decoration:none">+7 727 350 60 91</a></span>
                                                                <br>А еще лучше - приезжайте! Будем Вас ждать.</p>
                                                            <p style="Margin:0;Margin-bottom:10px;color:#4A4A4A;font-family:Verdana,Arial,Helvetica,sans-serif;font-size:14px;font-weight:400;line-height:1.5;margin:0;margin-bottom:10px;padding:0;text-align:left"><span style="font-weight:600">С уважением, команда ЖК Apple Town</span>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </th>
                                                <th class="expander" style="Margin:0;color:#4A4A4A;font-family:Verdana,Arial,Helvetica,sans-serif;font-size:16px;font-weight:400;line-height:1.3;margin:0;padding:0!important;text-align:left;visibility:hidden;width:0"></th>
                                            </tr>
                                        </table>
                                    </th>
                                </tr>
                                </tbody>
                            </table>
                            <table class="row" style="border-collapse:collapse;border-spacing:0;color:#4A4A4A;display:table;padding:0;position:relative;text-align:left;vertical-align:top;width:100%">
                                <tbody>
                                <tr style="padding:0;text-align:left;vertical-align:top">
                                    <th class="small-12 large-12 columns first last" style="Margin:0 auto;color:#4A4A4A;font-family:Verdana,Arial,Helvetica,sans-serif;font-size:16px;font-weight:400;line-height:1.3;margin:0 auto;padding:0;padding-bottom:0;padding-left:0;padding-right:0;text-align:left;width:580px">
                                        <table style="border-collapse:collapse;border-spacing:0;color:#4A4A4A;padding:0;text-align:left;vertical-align:top;width:100%">
                                            <tr style="padding:0;text-align:left;vertical-align:top">
                                                <th style="Margin:0;color:#4A4A4A;font-family:Verdana,Arial,Helvetica,sans-serif;font-size:16px;font-weight:400;line-height:1.3;margin:0;padding:0;text-align:left"></th>
                                                <th class="small-12 large-6 columns first" style="Margin:0 auto;color:#4A4A4A;font-family:Verdana,Arial,Helvetica,sans-serif;font-size:16px;font-weight:400;line-height:1.3;margin:0 auto;padding:0;padding-bottom:0;padding-left:0!important;padding-right:0!important;text-align:left;width:50%">
                                                    <table style="border-collapse:collapse;border-spacing:0;color:#4A4A4A;padding:0;text-align:left;vertical-align:top;width:100%">
                                                        <tr style="padding:0;text-align:left;vertical-align:top">
                                                            <th style="Margin:0;color:#4A4A4A;font-family:Verdana,Arial,Helvetica,sans-serif;font-size:16px;font-weight:400;line-height:1.3;margin:0;padding:0;text-align:left">
                                                                <div class="contacts bblr" style="background:#4A4A4A;border-bottom-left-radius:4px">
                                                                    <div class="phones" style="padding:15px 20px">
                                                                        <p style="Margin:0;Margin-bottom:10px;color:#fff;font-family:Verdana,Arial,Helvetica,sans-serif;font-size:10px;font-weight:400;line-height:1.5;margin:0;margin-bottom:0;padding:0;text-align:left"><a class="phone-style" style="Margin:0;color:#fff!important;font-family:Verdana,Arial,Helvetica,sans-serif;font-weight:400;line-height:1.3;margin:0;padding:0;text-align:left;text-decoration:none">+7 (727) 227–77–77</a>
                                                                        </p>
                                                                        <p style="Margin:0;Margin-bottom:10px;color:#fff;font-family:Verdana,Arial,Helvetica,sans-serif;font-size:10px;font-weight:400;line-height:1.5;margin:0;margin-bottom:0;padding:0;text-align:left"><a class="phone-style" style="Margin:0;color:#fff!important;font-family:Verdana,Arial,Helvetica,sans-serif;font-weight:400;line-height:1.3;margin:0;padding:0;text-align:left;text-decoration:none">+7 (727) 329–13–66</a>
                                                                        </p>
                                                                        <p style="Margin:0;Margin-bottom:10px;color:#fff;font-family:Verdana,Arial,Helvetica,sans-serif;font-size:10px;font-weight:400;line-height:1.5;margin:0;margin-bottom:0;padding:0;text-align:left"><a class="phone-style" style="Margin:0;color:#fff!important;font-family:Verdana,Arial,Helvetica,sans-serif;font-weight:400;line-height:1.3;margin:0;padding:0;text-align:left;text-decoration:none">+7 (727) 350–60–91</a>
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                            </th>
                                                        </tr>
                                                    </table>
                                                </th>
                                                <th class="small-12 large-6 columns last" style="Margin:0 auto;color:#4A4A4A;font-family:Verdana,Arial,Helvetica,sans-serif;font-size:16px;font-weight:400;line-height:1.3;margin:0 auto;padding:0;padding-bottom:0;padding-left:0!important;padding-right:0!important;text-align:left;width:50%">
                                                    <table style="border-collapse:collapse;border-spacing:0;color:#4A4A4A;padding:0;text-align:left;vertical-align:top;width:100%">
                                                        <tr style="padding:0;text-align:left;vertical-align:top">
                                                            <th style="Margin:0;color:#4A4A4A;font-family:Verdana,Arial,Helvetica,sans-serif;font-size:16px;font-weight:400;line-height:1.3;margin:0;padding:0;text-align:left">
                                                                <div class="contacts bbrr" style="background:#4A4A4A;border-bottom-right-radius:4px">
                                                                    <div class="address" style="padding:15px 20px">
                                                                        <p style="Margin:0;Margin-bottom:10px;color:#fff;font-family:Verdana,Arial,Helvetica,sans-serif;font-size:10px;font-weight:400;line-height:1.5;margin:0;margin-bottom:0;padding:0;text-align:right">Алматы</p>
                                                                        <p style="Margin:0;Margin-bottom:10px;color:#fff;font-family:Verdana,Arial,Helvetica,sans-serif;font-size:10px;font-weight:400;line-height:1.5;margin:0;margin-bottom:0;padding:0;text-align:right">ул. Аскарова, д.8 уг. пр. Аль-Фараби</p>
                                                                        <p class="link-style" style="Margin:0;Margin-bottom:10px;color:#fff;font-family:Verdana,Arial,Helvetica,sans-serif;font-size:10px;font-weight:400;line-height:1.5;margin:0;margin-bottom:0;padding:0;text-align:right"><a href="http://1appletown.kz" style="Margin:0;color:#fff!important;font-family:Verdana,Arial,Helvetica,sans-serif;font-weight:400;line-height:1.3;margin:0;padding:0;text-align:left;text-decoration:none">www.1appletown.kz</a>
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                            </th>
                                                        </tr>
                                                    </table>
                                                </th>
                                            </tr>
                                        </table>
                                    </th>
                                    <th class="expander" style="Margin:0;color:#4A4A4A;font-family:Verdana,Arial,Helvetica,sans-serif;font-size:16px;font-weight:400;line-height:1.3;margin:0;padding:0!important;text-align:left;visibility:hidden;width:0"></th>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <table class="wrapper" align="center" style="border-collapse:collapse;border-spacing:0;color:#4A4A4A;padding:0;text-align:left;vertical-align:top;width:100%">
                    <tr style="padding:0;text-align:left;vertical-align:top">
                        <td class="wrapper-inner" style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:#4A4A4A;font-family:Verdana,Arial,Helvetica,sans-serif;font-size:16px;font-weight:400;hyphens:auto;line-height:1.3;margin:0;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">
                            <table align="center" class="container" style="Margin:0 auto;background:#fefefe;border-collapse:collapse;border-spacing:0;color:#4A4A4A;margin:0 auto;padding:0;text-align:inherit;vertical-align:top;width:580px">
                                <tbody>
                                <tr style="padding:0;text-align:left;vertical-align:top">
                                    <td style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:#4A4A4A;font-family:Verdana,Arial,Helvetica,sans-serif;font-size:16px;font-weight:400;hyphens:auto;line-height:1.3;margin:0;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">
                                        <table class="row collapse footer" style="background:#f3f3f3;border-collapse:collapse;border-spacing:0;color:#4A4A4A;display:table;padding:0;position:relative;text-align:right;vertical-align:top;width:100%">
                                            <tbody>
                                            <tr style="padding:0;text-align:left;vertical-align:top">
                                                <th class="small-6 large-6 columns first" valign="middle" style="Margin:0 auto;color:#4A4A4A;font-family:Verdana,Arial,Helvetica,sans-serif;font-size:16px;font-weight:400;line-height:1.3;margin:0 auto;padding:0;padding-bottom:0;padding-left:0;padding-right:0;text-align:left;width:290px">
                                                    <table style="border-collapse:collapse;border-spacing:0;color:#4A4A4A;padding:0;text-align:left;vertical-align:top;width:100%">
                                                        <tr style="padding:0;text-align:left;vertical-align:top">
                                                            <th style="Margin:0;color:#4A4A4A;font-family:Verdana,Arial,Helvetica,sans-serif;font-size:16px;font-weight:400;line-height:1.3;margin:0;padding:0;text-align:left">
                                                                <p style="Margin:0;Margin-bottom:10px;color:#787878;font-family:Verdana,Arial,Helvetica,sans-serif;font-size:9px;font-weight:400;line-height:1.5;margin:0;margin-bottom:10px;padding:10px 10px 0;text-align:left">Apple Town © 2017, Все права защищены</p>
                                                            </th>
                                                        </tr>
                                                    </table>
                                                </th>
                                                <th class="small-6 large-6 columns last" valign="middle" style="Margin:0 auto;color:#4A4A4A;font-family:Verdana,Arial,Helvetica,sans-serif;font-size:16px;font-weight:400;line-height:1.3;margin:0 auto;padding:0;padding-bottom:0;padding-left:0;padding-right:0;text-align:left;width:290px">
                                                    <table style="border-collapse:collapse;border-spacing:0;color:#4A4A4A;padding:0;text-align:left;vertical-align:top;width:100%">
                                                        <tr style="padding:0;text-align:left;vertical-align:top">
                                                            <th style="Margin:0;color:#4A4A4A;font-family:Verdana,Arial,Helvetica,sans-serif;font-size:16px;font-weight:400;line-height:1.3;margin:0;padding:0;text-align:left">
                                                                <p class="text-right" style="Margin:0;Margin-bottom:10px;color:#787878;font-family:Verdana,Arial,Helvetica,sans-serif;font-size:9px;font-weight:400;line-height:1.5;margin:0;margin-bottom:10px;padding:10px 10px 0;text-align:right"><a href="" style="Margin:0;color:#787878;font-family:Verdana,Arial,Helvetica,sans-serif;font-size:9px;font-weight:400;line-height:1.3;margin:0;padding:0;text-align:left;text-decoration:underline">Отписаться</a>
                                                                </p>
                                                            </th>
                                                        </tr>
                                                    </table>
                                                </th>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </table>
            </center>
        </td>
    </tr>
</table>
<!-- prevent Gmail on iOS font size manipulation -->
<div style="display:none;white-space:nowrap;font:15px courier;line-height:0">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</div>
</body>

</html>