.header {
    @include clearfix();
    @include flex-align(null, middle);
    text-align: center;

    height: $header-height;
}

.header__section {
    display: inline-block;
    vertical-align: middle;
    @include grid-col(4);
}

.header__section--left {
    text-align: left;
}

.header__section--right {
    text-align: right;
}

.header__item {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    cursor: pointer;

    &, span {
        font-family: $font-light;
        font-size: 16px;
        text-transform: uppercase;
        color: $text-color;

        margin: 0 16px;
    }

    &:hover {
        color: $text-color;
    }

    &.header__item--marginless {
        margin: 0;
    }
}