.header {
    position: relative;
    z-index: 5;

    @include clearfix();
    @include flex-align(null, middle);
    text-align: center;

    height: $header-height;
}

.header__section {
    display: inline-block;
    vertical-align: middle;
    @include grid-col(4);
}

.header__section--left {
    text-align: left;
}

.header__section--right {
    text-align: right;
}

.header__item {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    cursor: pointer;

    &:hover {
        color: $text-color;
    }
}

.header__item--text {
    font-family: $font-light;
    font-size: 16px;
    text-transform: uppercase;
    color: $text-color;

    margin: 0 16px;
    transition: color 0.5s;
}

.header__logo {
    visibility: visible;
    opacity: 1;
}

.header__logo--white {
    display: none;
    visibility: hidden;
    opacity: 0;
}

.header__contacts-wrap, .header__nav-wrap {
    opacity: 1;

    transition: opacity 0.5s, visibility 0.5s;

    &.invisible {
        opacity: 0;
    }
}

.header__logo-wrap {

}

.header__nav, .header__contacts {
    &.active * {
        color: white;
    }
}