.header {
    position: relative;
    z-index: 6;
    width: 100%;

    @include clearfix();
    @include flex-align(null, middle);
    text-align: center;

    height: $header-height;

    transition: background-color 0.5s;

    &.white {
        background-color: white;
    }

    &.active.white {
        background-color: #30283D;
    }

    @include breakpoint(small down) {
        height: 17vh;

        position: fixed;
        top: 0;
        left: 0;
    }
}

.header__section {
    position: relative;
    z-index: 6;
    display: inline-block;
    vertical-align: middle;
    @include grid-col(4);
}

.header__section--left {
    text-align: left;
}

.header__section--right {
    text-align: right;
}

.header__item {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    cursor: pointer;
    transition: color 0.5s, opacity 0.5s;

    &:hover {
        color: $text-color;
    }
}

.header__item--text {
    font-family: $font-light;
    font-size: 16px;
    text-transform: uppercase;
    color: $text-color;

    margin: 0 16px;
}

.header__language {
    opacity: 1;

    &.hidden {
        opacity: 0;
    }

    @include breakpoint(small down) {
        margin-left: 0;
    }
}

.header__logo {
    visibility: visible;
    opacity: 1;

    max-width: 30%;
}

.header__logo--white {
    position: absolute;
    left: 50%;
    top: 0;
    z-index: 1;
    transform: translateX(-50%);
    visibility: hidden;
    opacity: 0;

    transition: visibility 0.5s, opacity 0.5s;
}

.header__contacts-wrap, .header__nav-wrap {
    opacity: 1;

    transition: opacity 0.5s, visibility 0.5s;

    &.invisible {
        opacity: 0;
    }
}

.header__logo-wrap {
    position: relative;

    &.active {
        .header__logo--white {
            opacity: 1;
            visibility: visible;
        }
    }
}

.header__nav, .header__contacts {
    &.active * {
        color: white;
    }

    img {
        width: 26px;
        height: 26px;
    }
}