.nav-menu {
    transform: translateX(-100%);

    &.active {
        .nav-menu__list-item {
            @include offside-reveal-to();

            @for $i from 1 through $nav-menu-item-quantity {
                &.item-#{$i} {
                    transition-delay: #{$reveal-animation-base-time + $i/10};
                }
            }
        }

        .nav-menu__social {
            @include offside-reveal-to();

            transition-delay: 0.5s;
        }
    }
}

.nav-menu__list {
    list-style-type: none;
    text-align: center;
    margin: 0;
    //margin-bottom: 110px;
}

.nav-menu__list-item {
    line-height: 1;

    margin-bottom: 20px;

    opacity: 0;
    transform: translateY(30px);

    &:last-child {
        margin-bottom: 0;
    }

    @for $i from 1 through $nav-menu-item-quantity {
        &.item-#{$i} {
            transition-property: opacity, transform;
            transition-duration: 0.5s;
            transition-delay: 0s;
        }
    }

    a {
        position: relative;

        font-family: $font-ultra-light;
        font-size: 24px;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: white;

        border-bottom: 1px solid transparent;

        transition: border-bottom 0.3s;

        &:before, &:after {
            position: absolute;
            bottom: 50%;
            content: "";
            height: 1px;
            background-color: rgba(255, 255, 255, 0.6);
            width: 0;

            transition: transform 0.3s, width 0.3s;
        }

        &:before {
            left: -40px;
            transform-origin: 100% 50%;
        }

        &:after {
            right: -40px;
            transform-origin: 0 50%;
        }

        &:hover:before, &:hover:after {
            width: 1px;
            transform: scaleX(40);
        }

        @include breakpoint(small down) {
            font-size: 18px;
        }
    }
}

.nav-menu__social {
    list-style-type: none;
    margin: 0;

    @include offside-reveal-from();

    li {
        display: inline-block;
        margin-right: 30px;

        &:last-child {
            margin-right: 0;
        }
    }
}