<header>
    <div class="row header">
        <div class="header__section header__section--left header__nav-wrap">
            <button class="header__nav header__item">
                <img src="{{ asset('dist/img/icon-menu.svg', 'theme') }}" alt="">
                <span class="header__item--text">Меню</span>
            </button>
        </div>

        <div class="header__section header__section--center">
            <a href="">
                <img class="header__logo header__item" src="{{ asset('dist/img/logo.svg', 'theme') }}" alt="">
                <img class="header__logo--white header__item" src="{{ asset('dist/img/logo-white.svg', 'theme') }}" alt="">
            </a>
        </div>

        <div class="header__section header__section--right header__contacts-wrap">
            <a class="header__language header__item header__item--text" href="">ENG</a>
            <button class="header__contacts header__item">
                <span class="header__item--text">Контакты</span>
                <img src="{{ asset('dist/img/icon-contacts.svg', 'theme') }}" alt="">
            </button>
        </div>
    </div>

    <div class="nav-menu">

    </div>

    <div class="contacts-menu">

    </div>
</header>