<header>
    <nav class="row header">
        <div class="header__section header__section--left">
            <button class="button header__menu header__aligned">Меню</button>
        </div>

        <div class="header__section header__section--center">
            <img src="http://fillmurray.com/166/80" alt="">
        </div>

        <div class="header__section header__section--right">
            <a class="header__language header__aligned" href="">ENG</a>
            <button class="button header__contacts header__aligned">Контакты</button>
        </div>
    </nav>
</header>