/* Font Variables */

$text-color: #131431;
$text-color-contrast: #ffffff;

/* Header Variables */

$header-height: 12vh;

/* Front Variables */

$front-container-height: 70vh;

/* Nav Menu Variables */

$reveal-animation-base-time: 0.5s;
$nav-menu-item-quantity: 7;

/* COMPONENTS */

/* Front panel */
$front-panel-animation-time: 0.5s;