@import "~foundation-sites/scss/foundation";

@include foundation-everything(true);

@import "variables";

@import "pages/front";

@import "partials/header";

@import "components/front-panel";
@import "components/slider-controls";

html, body {
    height: 100%;
}