@import "~foundation-sites/scss/foundation";

@include foundation-everything(true);

@import "variables";
@import "fonts";

@import "pages/front";

@import "partials/header";

@import "components/front-panel";
@import "components/slider-controls";
@import "components/buttons";

html, body {
    height: 100%;

    background-image: url('/theme/limservice/dist/img/bg-pattern.png');

    color: $text-color;
}

* {
    color: inherit;
}