@import "~foundation-sites/scss/foundation";

@include foundation-everything(true);

@import "variables";
@import "fonts";

@import "pages/front";

@import "partials/header";
@import "partials/nav-menu";
@import "partials/contacts-menu";

@import "components/front-panel";
@import "components/slider-controls";
@import "components/buttons";
@import "components/lin-jumbo";

html, body {
    height: 100%;
    width: 100%;

    background-image: url('/theme/limservice/dist/img/bg-pattern.png');

    color: $text-color;
    overflow: hidden;
}

* {
    color: inherit;
}