@import "~foundation-sites/scss/foundation";
@import "~slick-carousel/slick/slick";

@include foundation-everything(true);

@import "variables";
@import "fonts";

@import "pages/front";
@import "pages/about";
@import "pages/services";
@import "pages/products";

@import "components/front-panel";
@import "components/slider-controls";
@import "components/buttons";
@import "components/lim-jumbo";
@import "components/offside";
@import "components/forms";
@import "components/lim-title";
@import "components/lim-heading";
@import "components/lim-link";
@import "components/lim-mini-title";
@import "components/lim-hero";
@import "components/lim-project";
@import "components/lim-portfolio";
@import "components/lim-slider";
@import "components/typography";

@import "partials/header";
@import "partials/footer";
@import "partials/contacts-menu";
@import "partials/nav-menu";
@import "partials/contact-form";


html, body {
    width: 100%;

    background-image: url('/theme/limservice/dist/img/bg-pattern.png');

    color: $text-color;
    overflow-x: hidden;
}

* {
    color: inherit;
    outline: 0;
}

p {
    font-family: $font-ultra-light;
    font-size: 24px;
    letter-spacing: 1px;
    line-height: 30px;
    max-width: 770px;

    margin: 0 auto;
}