.about__hero {

}

.about__description {
    text-align: center;
    padding: 90px 0;

    * {
        text-align: center;
    }
}

.about__team {
    padding: 90px 0;
    text-align: center;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));

    .team__wrapper {
        position: relative;
        z-index: 1;
        margin-bottom: 40px;
        &:after, &:before {
            position: absolute;
            z-index: 0;
            top: -10%;
            right: 0;
            width: 50%;
            height: 50%;
            content: "";
            background-image: url('../img/bg-rectangle.svg');
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 100% 100%;
        }

        &:before {
            top: auto;
            right: auto;
            bottom: -10%;
            left: 0;
        }
    }

    .team__content {
        position: relative;
        z-index: 1;
        margin: 0 auto;
    }

    .team__photo {
        margin-bottom: 20px;
        border: 10px solid white;
        background: white;
        box-shadow: 0 10px 15px 0 rgba(0,0,0,0.15);
    }

    .team__description {
        font-family: $font-light;
        font-size: 16px;
        color: #44314D;
        line-height: 24px;
    }

    .team__link {
        display: block;
        width: 100%;
        text-align: right;
    }
}

.about__history {
    padding-top: 120px;
    padding-bottom: 60px;
    background-color: white;

    .history__content {
        padding-top: 60px;
        padding-bottom: 80px;

        background: url('../img/bg-patterned-rectangle.png') no-repeat right center;
        background-size: 60% 100%;
    }

    .history__image {
        box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.15);
    }

    .history__heading {
        margin-bottom: 30px;
    }

    .history__text {
        padding-left: 95px;
    }
}

.about__clients {
    padding-top: 60px;
    padding-bottom: 120px;
    background-color: white;

    background-image: url('../img/bg-patterned-rectangle.png');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 80% 40%;

    .clients__header {
        margin-bottom: 60px;
    }

    .clients__link {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
    }

    .clients__grid {
        .row {
            margin-bottom: 30px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

.about__contacts {
    padding-top: 60px;
    padding-bottom: 120px;

    background-color: white;

    .contacts__wrapper {
        position: relative;
        height: 570px;
    }

    .contacts__map {
        position: absolute;
        z-index: 1;
        left: 0;
        top: 0;
        min-height: 443px;
        min-width: 66.66666667%;
    }

    .contacts__info {
        position: absolute;
        z-index: 2;
        right: 0;
        bottom: 0;
        min-height: 254px;
        min-width: 41.66666667%;
        padding: 30px 0;

        background: #FFFFFF;
        box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.15);

        text-align: left;

        .info__wrapper {
            padding: 0 50px;
        }

        .info__title {
            width: 85%;

            font-family: $font-regular;
            font-size: 24px;
            color: #131431;
            letter-spacing: 1px;
            padding-left: 50px;
            padding-bottom: 10px;
            margin-bottom: 10px;

            border-bottom: 1px solid #D2D2D2;
        }

        .info__text {
            font-family: $font-light;
            font-size: 16px;
            color: #131431;
            margin-bottom: 20px;
        }

        .info__phones {
            display: inline-block;
            width: 320px;
            margin: 0;

            list-style-type: none;
        }

        .info__phones-item {
            display: inline-block;
            width: 50%;
            margin: 0;
        }
    }
}