.front-container {
    position: relative;

    height: $front-container-height;
}

.slider-row {
    @include flex-grid-row(collapse);
    position: relative;
    z-index: 0;
    border-color: transparent;
    flex-wrap: nowrap;

    height: 100%;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #ffffff;
    background-clip: content-box;
}