.front-container {
    position: relative;

    height: $front-container-height;
}

.front-row {
    @include flex-grid-row(collapse);
    flex-wrap: nowrap;

    height: 100%;
    padding-left: 15px;
    padding-right: 15px;
}