.landing__desc {
    text-align: center;

    padding: 60px 0;

    background: linear-gradient(to top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));

    .desc__title {
        margin-bottom: 30px;
    }

    .desc__text {
        font-family: $font-ultra-light;
        font-size: 24px;
        color: #131431;
        letter-spacing: 0.5px;
        line-height: 30px;
    }
}

.landing__slider {
    padding-top: 90px;
    padding-bottom: 60px;
    background: white;

    .slider {
        position: relative;
        width: 100%;

        min-height: 290px;
        background-color: transparent;

        .slick-list {
            overflow: visible;
        }
    }

    .slider__container {
        width: 100%;
    }

    .slider__next, .slider__prev {
        position: absolute;
        z-index: 1;
        top: 50%;
        transform: translateY(-50%);

        @include breakpoint(small down) {
            display: none;
        }
    }

    .slider__next {
        right: 20%;
    }

    .slider__prev {
        left: 20%;
    }

    .slider__slide {
        text-align: center;
        .slide__title {
            font-family: $font-regular;
            font-size: 36px;
            color: #131431;
            letter-spacing: 0.75px;
            text-transform: uppercase;
            margin-bottom: 60px;

            @include breakpoint(small down) {
                font-size: 32px;
            }
        }

        .slide__content {
            position: relative;

            font-family: $font-ultra-light;
            font-size: 24px;
            color: #131431;
            letter-spacing: 0.5px;
            line-height: 30px;

            &:before {
                position: absolute;
                z-index: -1;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                width: 170px;
                height: 210px;
                content: "";

                background-image: url('../img/bg-pattern.png');
                background-repeat: repeat-y;
            }
        }
    }

    @include breakpoint(small down) {
        padding-top: 60px;
    }
}

.landing__projects {
    padding-top: 180px;
    background-color: white;
    background-image: url('../img/stick-vertical.svg');
    background-repeat: no-repeat;
    background-position: center top;
}

.landing__heading {
    margin-bottom: 25px;
}