.products {
    background: linear-gradient(to top, rgba(255, 255, 255, 1) 80%, rgba(255, 255, 255, 0))
}

.products__categories {
    margin-bottom: 30px;
}

.products__categories-list {
    height: 100%;
    list-style-type: none;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.products__categories-item {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    min-width: 150px;
    margin-right: 30px;

    &:last-child {
        margin-right: 0;
    }

    label {
        font-family: $font-ultra-light;
        font-size: 24px;
        color: #929292;
        letter-spacing: 0.5px;
        cursor: pointer;

        padding-left: 70px;

        transition: color 0.3s;

        &:before {
            content: "";
            position: absolute;
            left: 0;
            bottom: 49%;
            height: 1px;
            width: 30px;
            background: #929292;

            transition: width 0.3s;
        }
    }

    input[type="radio"] {
        display: none;
    }

    input[type="radio"]:checked + label {
        color: $text-color;

        &:before {
            width: 70px;
            background: $text-color;
        }
    }
}

.products__filters {
    display: block;
    margin-bottom: 30px;

    select, input {
        margin: 0;
    }

    .filters__search {
        padding-right: 24px;
        background: url('../img/search-icon.svg') no-repeat center right;
    }
}

.products__filters--mobile {
    display: none;

    background: #44314D;

    transform: translateX(-100%);

    &.active {
        transform: translateX(0);

        .products__categories-item {

        }
    }

    .offside__content {
        justify-content: flex-start;

        padding: 0 25px;
    }

    .products__categories-list {
        width: 100%;
        height: auto;
        margin-left: -50px;
        margin-bottom: 20px;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .products__categories-item {
        display: block;

        margin-right: 0;

        input[type="radio"]:checked + label {
            color: #ffffff;

            &:before {
                background: #ffffff;
            }
        }
    }

    @include breakpoint(small down) {
        display: block;
    }
}

.products__filters-toggle {
    position: fixed;
    z-index: 10;

    right: 10px;
    bottom: 10px;

    .filters-toggle__open {
        opacity: 1;
        visibility: visible;

        transition: opacity 0.3s, visibility 0.3s;
    }

    .filters-toggle__close {
        position: absolute;
        left: 0;
        top: 0;

        opacity: 0;
        visibility: hidden;

        transition: opacity 0.3s, visibility 0.3s;
    }

    &.active {
        .filters-toggle__close {
            opacity: 1;
            visibility: visible;
        }
    }
}

.products__item {
    position: relative;
    display: inline-block;
    padding-top: 100%;
    width: 100%;
    margin-bottom: 30px;
    overflow: hidden;

    background-color: white;

    .item__image {
        position: absolute;
        width: 80%;
        height: auto;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .item__content {
        position: absolute;
        width: 100%;
        height: 100%;
        bottom: 70px;
        left: 0;

        background: rgba(255, 255, 255, 0.8);

        transform: translateY(100%);

        transition: transform $product-open-animation-time, bottom $product-open-animation-time;
    }

    .item__header {
        display: flex;
        margin-bottom: 10px;
        height: 70px;
        padding: 25px 20px;
        border-top: 1px solid $text-color;

        cursor: pointer;
    }

    .item__toggle {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        align-self: flex-end;
        margin-left: auto;
        cursor: pointer;

        .toggle__open {
            visibility: visible;
            opacity: 1;

            transition: opacity $product-open-animation-time, visibility $product-open-animation-time;
        }

        .toggle__close {
            position: absolute;
            right: 0;

            top: 50%;
            transform: translateY(-50%);

            visibility: visible;
            opacity: 0;

            transition: opacity $product-open-animation-time, visibility $product-open-animation-time;
        }
    }

    .item__name {
        position: relative;
        display: inline-block;
        margin: 0;
        vertical-align: middle;
        width: 80%;

        .name__open {
            font-family: $font-light;
            font-size: 16px;
            color: #44314D;
            line-height: 20px;
            text-transform: uppercase;

            visibility: visible;
            opacity: 1;

            transition: opacity $product-open-animation-time, visibility $product-open-animation-time;
        }

        .name__close {
            font-family: $font-bold;
            font-size: 16px;
            color: #131431;
            letter-spacing: 1px;
            line-height: 20px;
            text-transform: uppercase;

            position: absolute;
            width: 100%;
            left: 0;

            top: 50%;
            transform: translateY(-50%);

            visibility: visible;
            opacity: 0;

            transition: opacity $product-open-animation-time, visibility $product-open-animation-time;
        }
    }

    .item__description {
        padding: 0 20px;

        .desc--regular, .desc--bold {
            font-size: 14px;
            letter-spacing: 0.6px;
            line-height: 22px;
        }

        .desc--regular {
            font-family: $font-regular;
            margin-bottom: 10px;
        }

        .desc--bold {
            font-family: $font-bold;
        }

        .desc__list {
            list-style-type: none;
            margin: 0 0 10px;

            li {
                margin-bottom: 0;
            }
        }
    }

    &.active {
        .item__content {
            transform: translateY(0);
            bottom: 0;
        }

        .item__name {
            color: #131431;

            & > .name__open {
                visibility: hidden;
                opacity: 0;
            }

            & > .name__close {
                visibility: visible;
                opacity: 1;
            }
        }

        .item__toggle > .toggle__open {
            visibility: hidden;
            opacity: 0;
        }

        .item__toggle > .toggle__close {
            visibility: visible;
            opacity: 1;
        }
    }

    @include breakpoint(small down) {
        margin-bottom: 10px;
    }
}