.lim-text-slider {
    .slick-list {
        height: 100%;
    }

    .slick-dots {
        position: relative;
        z-index: 10;
        list-style-type: none;
        text-align: center;
        margin: 10px 0 0;

        li {
            display: inline-block;
            vertical-align: middle;
            margin-right: 10px;

            width: 12px;
            height: 12px;
            background-color: #d2d2d2;
            text-indent: -9999px;

            transition-property: width, height, background-color;
            transition-duration: 0.3s;

            &.slick-active {
                width: 18px;
                height: 18px;
                background-color: #44314D;
            }
        }
    }
}