.lim-slider {
    position: relative;

    &.centered {
        .lim-slider__controls {

            max-width: 770px;
            min-width: 300px;
            overflow: hidden;

            &:before {
                content: "";
                z-index: 1;
                position: absolute;
                left: 0;
                top: 0;
                width: 30%;
                height: 100%;
                pointer-events: none;
                background: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
            }

            &:after {
                content: "";
                z-index: 1;
                position: absolute;
                right: 0;
                top: 0;
                width: 30%;
                height: 100%;
                pointer-events: none;
                background: linear-gradient(to left, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
            }

            .controls__list {
                position: relative;
                left: 25%;
                transition: transform 0.5s;
            }

            .controls__list-item {
                margin-right: 30px;

                span {
                    text-transform: uppercase;
                    font-size: 14px;
                    letter-spacing: 4px;
                }

                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }

    .slide {
        height: 70vh;

        @include breakpoint(small down) {
            height: calc(83vh - 70px);
        }
    }

    @include breakpoint(small down) {
        height: 100%;
    }
}

.lim-slider__container {
    .slick-list {
        overflow: visible;
    }

    @include breakpoint(small down) {
        height: 100%;
    }
}

.lim-slider__controls {
    background-color: white;

    position: absolute;

    left: 50%;
    transform: translateX(-50%);

    bottom: -25px;

    list-style-type: none;
    padding: 21px 30px;

    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);

    @include breakpoint(small down) {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 70px;
        padding: 10px 0 0 0;
        transform: none;
    }

    .controls__list {
        display: flex;
        margin: 0;
        list-style-type: none;
        justify-content: space-around;
    }

    .controls__list-item {
        display: inline-block;
        position: relative;
        text-align: center;
        margin-right: 30px;
        cursor: pointer;

        &:last-child {
            margin-right: 0;
        }

        &.active {
            span {
                color: $text-color;
            }

            .item__icon {
                opacity: 1;
            }
        }

        span {
            display: block;
            font-family: $font-light;
            text-transform: uppercase;
            letter-spacing: 4px;
            color: #929292;
            white-space: nowrap;
            transition: color 0.3s;
        }

        .item__icon {
            display: none;
            width: 40px;
            height: 40px;
            //margin-bottom: 5px;
            opacity: 0.5;
            transition: opacity 0.3s;
        }

        .item__icon--active {
            display: none;
            position: absolute;
            z-index: 1;
            left: 50%;
            top: 0;
            transform: translateX(-50%);

            opacity: 0;
            visibility: hidden;

            transition: opacity 0.3s, visibility 0.3s;
        }

        @include breakpoint(small down) {

            .item__icon, .item__icon--active {
                display: inline-block;
            }

            margin-right: 5px;
            //min-width: 60px;

            span {
                font-size: 11px;
                text-transform: none;
                letter-spacing: normal;
            }
        }
    }
}