.lim-portfolio {
    @include clearfix();
    width: 100%;
    height: 100%;
    position: relative;
}

.lim-portfolio__content {
    position: relative;

    float: left;
    width: 50%;
    height: 100%;

    padding-left: 70px;

    .content__category {
        margin-bottom: 30px;

        @include breakpoint(small down) {
            margin-bottom: 5px;
        }
    }

    .content__title {
        margin-bottom: 60px;

        @include breakpoint(small down) {
            margin-bottom: 10px;
            font-size: 18px;
        }
    }

    .content__label {
        margin-bottom: 10px;

        font-family: $font-regular;
        font-size: 16px;
        color: #929292;
        letter-spacing: normal;
        line-height: normal;
    }

    .content__text {
        font-family: $font-regular;
        font-size: 16px;
        color: $text-color;
        letter-spacing: normal;
        line-height: normal;

        * {
            font-family: $font-regular;
            font-size: 16px;
            color: $text-color;
            letter-spacing: normal;
            line-height: normal;
        }
    }

    @include breakpoint(small down) {
        float: none;
        width: 100%;
        height: calc(100% - 220px);

        padding-left: 10px;
        padding-bottom: 10px;

        overflow: scroll;
    }
}

.lim-portfolio__content-wrap {
    position: absolute;
    top: 20%;
    left: 70px;
    padding-right: 70px;

    @include breakpoint(small down) {
        position: relative;
        top: auto;
        left: auto;

        padding-top: 10px;
        padding-right: 10px;
    }
}

.lim-portfolio__image {
    float: right;
    width: 50%;
    height: 100%;

    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;

    @include breakpoint(small down) {
        float: none;
        width: 100%;
        max-height: 220px;
    }
}

.lim-portfolio__slider {
    float: right;
    width: 50%;
    height: 100%;
    overflow: hidden;

    .slick-list {
        height: 100%;
    }

    .slick-track {
        height: 100%;
    }

    @include breakpoint(small down) {
        width: 100%;
        height: 220px;
    }
}

.lim-portfolio__slider-counter {
    position: absolute;
    width: 60px;
    height: 60px;
    right: -30px;
    bottom: -30px;

    background: white;
    border-radius: 50%;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
    cursor: pointer;

    span {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        font-family: $font-thin;
        font-size: 20px;
        color: #131431;
        line-height: 64px;
    }

    @include breakpoint(small down) {
        right: 10px;
        bottom: 80px;
    }
}

.lim-portfolio__slide {
    width: 100%;
    height: 100%;

    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}