.lim-jumbo {
    position: relative;
    width: 100%;
    height: 100%;
    padding-top: 120px;
    background-color: white;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    &:before {
        content: "";

        position: absolute;
        z-index: 0;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

    @include breakpoint(small down) {
        padding: 0 10px 10px 10px;
        background-clip: content-box;
    }
}

.lim-jumbo__content {
    position: relative;
    z-index: 1;

    padding-left: 70px;

    @include breakpoint(small down) {
        padding-left: 10px;
        padding-top: 50px;
    }
}

.lim-jumbo__title {
    position: relative;

    font-family: $font-black;
    font-size: 13px;
    color: $text-color;
    letter-spacing: 6px;
    text-transform: uppercase;

    padding-left: 95px;
    margin-bottom: 30px;

    &:before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 49%;
        width: 80px;
        height: 1px;
        background-color: $text-color;
    }

    @include breakpoint(small down) {
        margin-bottom: 20px;
    }
}

.lim-jumbo__link {
    .lim-button {
        @include breakpoint(small down) {
            letter-spacing: 2px;
            font-size: 12px;
        }
    }
}

.lim-jumbo__heading {
    font-family: $font-thin;
    font-size: 48px;
    text-transform: uppercase;
    letter-spacing: 1px;

    max-width: 40%;

    margin-bottom: 40px;

    @include breakpoint(small down) {
        max-width: 100%;
        margin-bottom: 70px;
        font-size: 24px;
    }
}

.lim-jumbo__product-image {
    position: absolute;
    z-index: 5;
    right: 0;
    bottom: 0;
}

.lim-jumbo__product-image-bg {
    position: absolute;
    z-index: 4;
    right: -56px;
    bottom: -65px;
}

.lim-jumbo__number {
    display: inline-block;
    position: absolute;
    bottom: -30px;
    right: -30px;

    width: 60px;
    height: 60px;

    background-color: white;

    text-align: center;
    font-family: $font-thin;
    font-size: 36px;
    line-height: 60px;

    @include breakpoint(small down) {
        bottom: 10px;
        right: 10px;
    }
}

.lim-jumbo__arrow {
    position: absolute;
    left: 50%;
    bottom: -50px;
    transform: translateX(-50%);

    cursor: pointer;
}