.lim-project {
    padding-top: 60px;
    padding-bottom: 60px;

    background: white;

    & > .row {
        overflow: hidden;
    }

    @include breakpoint(small down) {
        padding-top: 0;
        padding-bottom: 50px;
    }
}

.lim-project__heading {
    @include flex-grid-column(4);

    position: relative;
    z-index: 1;
    padding-top: 50px;

    .heading__supertext {
        position: relative;

        font-family: $font-light;
        font-size: 36px;
        color: #131431;
        line-height: 60px;

        &:after {
            content: "";
            position: absolute;
            z-index: 0;
            bottom: 0;
            left: 0;
            height: 1px;
            width: 9999px;
            background: #131431;
        }
    }

    .heading__subtext {
        font-family: $font-ultra-light;
        font-size: 24px;
        color: #131431;
        letter-spacing: 0.5px;
        line-height: 30px;
    }

    .heading__content {
        p {
            font-size: 18px!important;
        }
    }

    @include breakpoint(small down) {
        @include flex-grid-column(12);

        margin-bottom: 60px;
    }
}

.lim-project__images {
    @include flex-grid-column(8);

    position: relative;
    z-index: 2;
    min-height: 400px;
    max-height: 500px;

    @include breakpoint(small down) {
        @include flex-grid-column(12);
        min-height: 250px;
        max-height: 400px;
    }
}

.lim-project__front-image {
    width: 100% * (5/8);

    position: absolute;
    z-index: 2;
    right: 0;
    top: 0;

    @include breakpoint(small down) {
        width: 100% * (7/8);
    }
}

.lim-project__rear-image {
    width: 50%;

    position: absolute;
    z-index: 1;
    left: 0;
    bottom: 0;

    @include breakpoint(small down) {
        width: 100% * (6/8);
    }
}

.lim-project--inverse {

    background: #F3F3F3;

    .lim-project__heading {
        order: 2;
        text-align: right;

        .heading__supertext:after {
            left: auto;
            right: 0;
        }

        @include breakpoint(small down) {
            order: 1;
        }
    }

    .lim-project__images {
        order: 1;
    }

    .lim-project__front-image {
        left: 0;
        right: auto;
        z-index: 1;
    }

    .lim-project__rear-image {
        right: 0;
        left: auto;
        z-index: 2;
    }
}