.lim-heading {
    font-family: $font-thin;
    font-size: 48px;
    text-transform: uppercase;
    margin: 0;

    @include breakpoint(small down) {
        font-size: 28px;
    }
}

.lim-heading--vertical {
    //transform: rotate(-90deg) translateY(-100%);
    //transform-origin: left bottom 0;
    //float: left;
    //white-space: nowrap;
    writing-mode: tb-rl;
    transform: rotate(180deg);

    @include breakpoint(small down) {
        writing-mode: horizontal-tb;
        transform: none;
    }
}