.lim-link {
    font-family: $font-regular;
    font-size: 13px;
    color: #131431;
    letter-spacing: 3px;

    background: url('../img/lim-link-arrow.svg') no-repeat right center;
    padding-right: 100px;

    &:hover {
        color: #131431;
    }

    @include breakpoint(small down) {
        padding-right: 80px;
    }
}