@mixin offside-reveal-from() {
    opacity: 0;
    transform: translateY(30px);

    transition-property: opacity, transform;
    transition-duration: 0.5s;
    transition-delay: 0s;
}

@mixin offside-reveal-to() {
    opacity: 1;
    transform: translateY(0);
}

.offside {
    position: fixed;
    z-index: 4;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    overflow: hidden;

    background-color: #30283D;

    transition: transform 0.5s;

    text-align: center;

    &.active {
        transform: translateX(0);

        .offside__header {
            @include offside-reveal-to();

            transition-delay: 0.5s;

            &:before, &:after {
                width: 195px;
                transition-delay: 1s;
            }
        }
    }
}

.offside__content {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
    transition: opacity 0.5s 0.5s;
}

.offside__header {
    display: inline-block;
    position: relative;

    margin-bottom: 30px;

    color:  #9C96A2;
    font-family: $font-black;
    text-transform: uppercase;
    letter-spacing: 6px;
    padding: 0 60px;

    @include offside-reveal-from();

    &:before {
        position: absolute;
        left: 100%;
        bottom: 30%;

        content: "";
        //width: 195px;
        width: 0;
        height: 1px;
        background-color: #9C96A2;

        transition: width 0.5s 0s;
    }

    &:after {
        position: absolute;
        right: 100%;
        bottom: 30%;

        content: "";
        //width: 195px;
        width: 0;
        height: 1px;
        background-color: #9C96A2;

        transition: width 0.5s 0s;
    }
}