.slide-controls {
    background-color: white;

    display: flex;

    position: absolute;

    left: 50%;
    transform: translateX(-50%);

    bottom: -25px;

    list-style-type: none;
    padding: 21px 30px;
    margin: 0;

    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);

    .slide-control {
        display: inline-block;
        margin-right: 30px;


        cursor: pointer;

        font-family: $font-light;
        text-transform: uppercase;
        letter-spacing: 4px;
        color: #929292;

        transition: color 0.5s;

        &:last-child {
            margin-right: 0;
        }

        &.active {
            color: $text-color;
        }
    }
}