h1, h2, h3, h4, h5 {
    font-family: $font-ultra-light;
}

h2 {
    font-size: 24px;
    color: #131431;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.text-uppercase {
    text-transform: uppercase;
}

.subtitle {
    font-family: $font-light;
    font-size: 16px;
    color: #131431;
    line-height: 24px;
}

.big-text {
    font-family: $font-ultra-light;
    font-size: 24px;
    color: #131431;
    letter-spacing: 0.5px;
    line-height: 30px;
}

.lim-subtitle {
    font-family: $font-light;
    font-size: 16px;
    color: #131431;
    letter-spacing: 1px;
    line-height: 24px;
    text-transform: uppercase;
}