{% extends 'partials/_master.twig' %}

{% block content %}

    <section class="about__hero">
        <div class="row">
            <div class="lim-jumbo" style="background-image: url({{ asset('dist/img/test-bg.png', 'theme') }})">
                <div class="lim-jumbo__content">
                    <h2 class="lim-jumbo__title">Лим Сервис</h2>
                    <h3 class="lim-jumbo__heading">Для тех, кто ценит вкус</h3>
                </div>

                <img src="{{ asset('dist/img/jumbo-arrow.svg', 'theme') }}" alt="" class="lim-jumbo__arrow">
            </div>
        </div>
    </section>

    <section class="about__description">
        <div class="row column medium-12">
            <h3 class="lim-title">О Нас</h3>
        </div>

        <div class="row column medium-12">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium ad, aliquid animi, asperiores consectetur culpa cum cupiditate deserunt ducimus error esse expedita explicabo harum ipsam itaque iusto laudantium, magni maxime minus mollitia necessitatibus neque nesciunt numquam officiis perspiciatis qui quis quod repellendus rerum soluta ullam unde veniam voluptatem! Ea, mollitia!</p>
        </div>
    </section>

    <section class="about__team">
        <div class="row clearfix">
            <div class="column medium-1">
                <h2 class="lim-heading lim-heading--vertical">Наша Команда</h2>
            </div>

            <div class="column-medium-11">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore illum iure optio, ratione reprehenderit tempora velit! Architecto asperiores debitis deserunt dolore, ea eaque excepturi facilis fuga id in ipsa labore laboriosam laborum neque non nulla odit officiis quo repudiandae, sit ullam vero vitae voluptatem. Consequatur cum, cupiditate incidunt labore, laborum maiores, numquam officia provident quae quasi similique velit vitae! Assumenda beatae cupiditate deleniti deserunt dignissimos distinctio dolor, ea eius ex explicabo facilis fugiat impedit incidunt ipsum laborum magnam molestiae non officiis porro quas quia quidem quisquam ratione sapiente sed sit unde vel vitae voluptatem voluptatum! Aliquid cum cumque eos esse eum laboriosam placeat porro, provident, reprehenderit sed suscipit tempora unde voluptate! Assumenda atque consectetur dolorum excepturi hic neque quasi saepe veniam. Et magni modi, molestiae officia placeat veritatis voluptatem? Cumque eligendi harum incidunt non. Dolore eaque laboriosam repellat sed vero. Aperiam aut consequuntur dolor ea laborum officiis qui quibusdam sequi!</p>
            </div>
        </div>
    </section>

    <section class="about__history"></section>

    <section class="about__clients"></section>

    <section class="about__contacts"></section>

{% endblock %}