{% extends 'partials/_front.twig' %}

{% block content %}

    <div class="front-container">
        <slider>
            <slide content-id="home">
                <div class="row">
                    <div class="front-panel">
                        <div class="front-panel__title">
                            <h3>Horeca</h3>
                        </div>
                        <div class="front-panel__description">Детская мебель</div>
                        <div class="front-panel__link">
                            <a href="">Подробнее</a>
                        </div>
                    </div>

                    <div class="front-panel">
                        <div class="front-panel__title">
                            <h3>Business</h3>
                        </div>
                        <div class="front-panel__description">Детская мебель</div>
                        <div class="front-panel__link">
                            <a href="">Подробнее</a>
                        </div>
                    </div>

                    <div class="front-panel">
                        <div class="front-panel__title">
                            <h3>Kids</h3>
                        </div>
                        <div class="front-panel__description">Детская мебель</div>
                        <div class="front-panel__link">
                            <a href="">Подробнее</a>
                        </div>
                    </div>
                </div>
            </slide>
            <slide content-id="about">
                <h1>test</h1>
                <div class="row">
                    <div class="front-panel">
                        <div class="front-panel__title">
                            <h3>Horeca</h3>
                        </div>
                        <div class="front-panel__description">Детская мебель</div>
                        <div class="front-panel__link">
                            <a href="">Подробнее</a>
                        </div>
                    </div>

                    <div class="front-panel">
                        <div class="front-panel__title">
                            <h3>Business</h3>
                        </div>
                        <div class="front-panel__description">Детская мебель</div>
                        <div class="front-panel__link">
                            <a href="">Подробнее</a>
                        </div>
                    </div>

                    <div class="front-panel">
                        <div class="front-panel__title">
                            <h3>Kids</h3>
                        </div>
                        <div class="front-panel__description">Детская мебель</div>
                        <div class="front-panel__link">
                            <a href="">Подробнее</a>
                        </div>
                    </div>
                </div>
            </slide>
            <slide content-id="services">
                <h1>Services</h1>
            </slide>
        </slider>
    </div>

{% endblock %}