{% extends 'partials/_front.twig' %}

{% block content %}

<div class="front-container">
    <slider>
        <div slot="content">
            <div id="home" class="slide">
                <div class="row">
                    <div class="front-panel">
                        <div class="front-panel__title">
                            <h3>Horeca</h3>
                        </div>
                        <div class="front-panel__description">Детская мебель</div>
                        <div class="front-panel__link">
                            <a href="">Подробнее</a>
                        </div>
                    </div>

                    <div class="front-panel">
                        <div class="front-panel__title">
                            <h3>Business</h3>
                        </div>
                        <div class="front-panel__description">Детская мебель</div>
                        <div class="front-panel__link">
                            <a href="">Подробнее</a>
                        </div>
                    </div>

                    <div class="front-panel">
                        <div class="front-panel__title">
                            <h3>Kids</h3>
                        </div>
                        <div class="front-panel__description">Детская мебель</div>
                        <div class="front-panel__link">
                            <a href="">Подробнее</a>
                        </div>
                    </div>
                </div>
            </div>
            <div id="about" class="slide">
                <h1>test</h1>
                <div class="row">
                    <div class="front-panel">
                        <div class="front-panel__title">
                            <h3>Horeca</h3>
                        </div>
                        <div class="front-panel__description">Детская мебель</div>
                        <div class="front-panel__link">
                            <a href="">Подробнее</a>
                        </div>
                    </div>

                    <div class="front-panel">
                        <div class="front-panel__title">
                            <h3>Business</h3>
                        </div>
                        <div class="front-panel__description">Детская мебель</div>
                        <div class="front-panel__link">
                            <a href="">Подробнее</a>
                        </div>
                    </div>

                    <div class="front-panel">
                        <div class="front-panel__title">
                            <h3>Kids</h3>
                        </div>
                        <div class="front-panel__description">Детская мебель</div>
                        <div class="front-panel__link">
                            <a href="">Подробнее</a>
                        </div>
                    </div>
                </div>
            </div>
            <div id="services" class="slide">
                <h1>Services</h1>
            </div>
        </div>
        <div slot="controls">
            <ul class="slide-controls">
                <li class="slide-control" data-target="#home">Главная</li>
                <li class="slide-control" data-target="#about">О Нас</li>
                <li class="slide-control" data-target="#services">Услуги</li>
                <li class="slide-control" data-target="#portfolio">Портфолио</li>
                <li class="slide-control" data-target="#products">Продукция</li>
            </ul>
        </div>
    </slider>
</div>

{% endblock %}