{% extends 'partials/_master.twig' %}

{% block content %}

    <section class="services__hero lim-hero">
        <div class="row">
            <div class="lim-jumbo" style="background-image: url({{ asset('dist/img/test-bg.png', 'theme') }})">
                <div class="lim-jumbo__content">
                    <h2 class="lim-jumbo__title">Лим Сервис</h2>
                    <h3 class="lim-jumbo__heading">Для тех, кто ценит вкус</h3>
                </div>

                <img src="{{ asset('dist/img/jumbo-arrow.svg', 'theme') }}" alt="" class="lim-jumbo__arrow">
            </div>
        </div>
    </section>

    <section class="services__about">
        <p class="big-text text-center">
            Нашими ключевыми принципами являются высокотехнологичные процессы производства, использование только высококачественных материалов и сжатые сроки.
        </p>
    </section>

{% endblock %}