{% extends 'partials/_master.twig' %}

{% block content %}

    <section class="text-center full-height">
        <h1>{{ l('messages.form.submit.title') }}</h1>
        <p>{{ l('messages.form.submit.body') }}</p>
    </section>

{% endblock content %}